<div class='top-wrapper'>
    <h1 class='text-center'>アプリ名</h1>
    <p class='text-center'>現時点では未定</p>
</div>
<div class='text-center'>
  <%= link_to new_time_table_path, class:'btn btn-success' do %>
    <span>フェスを開催する</span> <i class="fas fa-drum"></i>
  <% end  %>
</div>
