<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class='text-center'>タイムテーブルの作成</h1>
    </div>
    <div class="col-xs-12">
      <p class='text-center fes-title'><span>フェス概要</span></p>
    </div>
    <div class="col-xs-12">
      <div class='fes-form'>
        <%= simple_form_for @time_table do |f| %>
        <% end %>
      </div>
    </div>
  </div>
</div>
