<div class="container"> <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <tbody>
          <tr class='text-center'>
            <th></th>
            <td>ステージ1</td>
            <td>ステージ2</td>
          </tr>
          <tr>
            <th class='time'>10:00</th>
            <td rowspan='2', align='center', valign='middle'>Sex Pistols</td>
            <td style='border:none'></td>
          </tr>
          <tr>
            <th>10:30</th>
            <td></td>
            <%# <td></td> %>
          </tr>
          <tr>
            <th class='time'>11:00</th>
            <td style='border:none'></td>
            <td rowspan='2', align='center', valign='middle'>The Clash</td>
          </tr>
          <tr>
            <th>11:30</th>
            <td></td>
            <%# <td></td> %>
          </tr>
          <tr>
            <th class='time'>12:00</th>
            <td rowspan='2', align='center', valign='middle'>Mortorhead</td>
            <td style='border:none'></td>
          </tr>
          <tr>
            <th>12:30</th>
            <td></td>
            <%# <td></td> %>
          </tr>
          <tr>
            <th class='time'>13:00</th>
            <td style='border:none'></td>
            <td rowspan='2', align='center', valign='middle'>Mortorhead</td>
          </tr>
          <tr>
            <th>13:30</th>
            <td></td>
            <%# <td></td> %>
          </tr>
          <tr>
            <th class='time'>14:00</th>
            <td rowspan='2', align='center', valign='middle'>Mortorhead</td>
            <td style='border:none'></td>
          </tr>
          <tr>
            <th>14:30</th>
            <td></td>
            <%# <td></td> %>
          </tr>
          <tr>
            <th class='time'>15:00</th>
            <td style='border:none'></td>
            <td rowspan='2', align='center', valign='middle'>Korn</td>
          </tr>
          <tr>
            <th>15:30</th>
            <td></td>
            <%# <td></td> %>
          </tr>
          <tr>
            <th class='time'>16:00</th>
            <td rowspan='2', align='center', valign='middle'>The Offspring</td>
            <td style='border:none'></td>
          </tr>
          <tr>
            <th>16:30</th>
            <td></td>
            <%# <td></td> %>
          </tr>
          <tr>
            <th class='time'>17:00</th>
            <td style='border:none'></td>
            <td rowspan='2', align='center', valign='middle'>blink182</td>
          </tr>
          <tr>
            <th>17:30</th>
            <td></td>
            <%# <td></td> %>
          </tr>
          <tr>
            <th class='time'>18:00</th>
            <td rowspan='2', align='center', valign='middle'>NOFX</td>
            <td style='border:none'></td>
          </tr>
          <tr>
            <th>18:30</th>
            <td></td>
            <%# <td></td> %>
          </tr>
          <tr>
            <th class='time'>19:00</th>
            <td style='border:none'></td>
            <td rowspan='2', align='center', valign='middle'>GREEN DAY</td>
          </tr>
          <tr>
            <th>19:30</th>
            <td></td>
            <%# <td></td> %>
          </tr>
          <tr>
            <th class='time'>20:00</th>
            <td style='border:none'></td>
            <td style='border:none'></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
