<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="#">アプリロゴ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <%= link_to '#', class:'nav-link' do %>
            <div class='text-center'>
              <i class="fas fa-info"></i>
            </div>
            <p>ガイドライン</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to login_path, class:'nav-link' do %>
            <div class='text-center'>
              <i class="fas fa-sign-in-alt"></i>
            </div>
            <p>ログイン</p>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to '#', class:'nav-link' do%>
            <div class='text-center'>
              <i class="fas fa-user-plus"></i>
              <p>ユーザー登録</p>
            </div>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</header>
