@import '~bootstrap/scss/bootstrap'; //Bootstrapを追加
@import '~@fortawesome/fontawesome-free/scss/fontawesome'; //font-awesomeを追加

.nec {
    background-color: red;
    color: white;
    font-weight: 500;
    margin-left: 20px;
    padding: 0px 4px 2px 4px;
}
